@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

:root {
    --cor-primaria: #014040;
    --cor-secundaria: #F2DE79;
    --cor-terciaria: #013440;
    --cor-quaternaria: #5f5521;  
    
    --fonte-principal: 'Roboto', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color:var(--cor-primaria);
    color:var(--cor-secundaria);
}
.cabecalho_curriculum{
    display: flex;
    justify-content: center;
    background-color:var(--cor-terciaria);
    padding: 5% 0% 0% 18%;
}
.cabecalho_menu_curriculum {
    display: flex;
    gap: 100px;
}
.cabecalho_menu_link_curriculum {
    font-family: var(--fonte-principal);
    font-size: 1.25rem;
    font-weight: 300;
    color:var(--cor-secundaria);
    text-decoration: none;
}
.apresentacao_curriculum {
    gap: 100px;
    margin: 7% 15% 15% 15%;
    display: flex;
    align-items:center;
    justify-content: space-evenly;


}

.apresentacao_curriculum_texto {
    width: 50%;
    display: flex;
    flex-direction:column;
    gap: 30px;
}

.apresentacao_curriculum_texto_titulo {
    font-size: 1.875rem;
    font-family: var(--fonte-principal);
    font-weight: 300;
}
.apresentacao_curriculum_texto_paragrafo{
    font-size: 1.0625rem;
    font-family: var(--fonte-secundaria);
    font-weight: 100;
}
.imagem_curriculum{
    width: 35%;
    border-radius: 5%;
        
}
.rodape_curriculum{
    display: flex;
    justify-content: center;
    background-color:var(--cor-terciaria);
    padding: 30px;
    font-family: var(--fonte-principal);
    color:var(--cor-secundaria);
    font-size: 1.25rem;
    font-weight: 300;
}

@media (max-width: 700px) {
    .cabecalho_curriculum {
        padding: 8% ;
        
    }
    
    .cabecalho_menu_curriculum {
        justify-content: center;
        align-items: center;
        gap: 30px;

    }


    .imagem_curriculum {
        width: 70%;
    }

    .apresentacao_curriculum_texto_titulo {
        font-size: 25px;
        font-weight: 600;
    }

    .apresentacao_curriculum_texto_paragrafo {
        font-size: 15px;
        font-weight: 300;
    }

    
    .apresentacao_curriculum {
        flex-direction:column-reverse;
        padding: 1%;
        gap: 50px;
        
    }

    .apresentacao_curriculum_texto {
        width: auto;
    }

    .rodape_curriculum {
        font-size: 15px;
    }
    
 }
